---
import CardListItem from './CardListItem.astro';

interface Item {
  title: string;
  sub_title: string;
  sub_title_url: string;
  years: string;
  details?: string;
}

const { title, items } = Astro.props;
---

<section class="py-14 bg-background">
  <div class="container mx-auto px-4">
    <h2 class="text-3xl lg:text-4xl font-semibold text-center mb-12">
        {title}
    </h2>

    <ul class="space-y-8">
      {items.map((item: Item) => (
        <CardListItem
          title={item.title}
          sub_title={item.sub_title}
          sub_title_url={item.sub_title_url}
          years={item.years}
          details={item?.details}
        />
      ))}
    </ul>
  </div>
</section>
