---
import Project from '../Project.astro';
import { projects } from '../../../config/cv.json';
---

<section class="bg-background">
    <div class="container px-6 py-8 mx-auto">
        <h1 class="text-3xl font-semibold text-center capitalize lg:text-4xl">
            My Portfolio
        </h1>

        <!--<p class="mt-4 text-center text-offset">
            Discover my range of projects that highlight my expertise in design, development, and innovative solutions.
        </p>-->

        <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-12 md:grid-cols-2 xl:grid-cols-3">
            {projects.map(project => (
                <Project
                    imageUrl={project.imageUrl}
                    title={project.title}
                    type={project.type}
                    link={project.link}
                    details={project.details}
                />
            ))}
        </div>
    </div>
</section>
