---
import { Image } from 'astro:assets';
import heroImage from '../../assets/mauro_leonelli.png';
import { basic } from '../../config/cv.json';
---

<section class="py-5 px-4 sm:py-10 lg:py-16">
    <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="grid items-center grid-cols-1 gap-12 lg:grid-cols-2">
            <div class="relative flex justify-center">
                <Image class="w-full md:max-w-md lg:max-w-md"
                    src={heroImage}
                    loading="eager"
                    alt="Mauro Leonelli - Personal Website" />
            </div>
            <div>
                <p class="text-lg text-offset">
                    {basic?.job}
                </p>

                <h1 class="text-2xl font-bold sm:text-4xl lg:text-5xl mt-3">
                    {basic?.name}
                </h1>

                <p class="mt-5 text-base sm:text-xl">
                    {basic?.summary}
                </p>

                <div class="mt-10 sm:flex sm:items-center sm:space-x-8">
                    <a href=`/cv/${basic?.cv_file_name}` title="Download CV" download
                        class="inline-flex items-center justify-center px-10 py-4 text-base text-white
                            font-semibold transition-all duration-200 rounded
                            bg-primary hover:bg-secondary focus:bg-secondary" role="button">
                        Download CV
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
