---
const { imageUrl, title, type, link, details } = Astro.props;
---

<a href=`${link}` target="_blank" rel="noopener noreferrer" class="flex flex-col">
    <div class="relative overflow-hidden rounded-lg cursor-pointer h-40 group">
        <div 
            class="absolute inset-0 bg-cover transition-transform duration-700 group-hover:scale-110" 
            style={`background-image: url('${imageUrl}');`}>
        </div>

        <div
            class="flex flex-col justify-center w-full h-full px-8 py-4 transition-opacity duration-700
                opacity-0 backdrop-blur-sm bg-gray-900/85 group-hover:opacity-100">
            <h2 class="mt-4 text-xl font-semibold text-white">{title}</h2>
            <p class="mt-2 text-lg font-bold tracking-wider text-primary uppercase">{link}</p>
        </div>
    </div>
    <div class="mt-3 px-2 py-2 text-sm text-gray-600 dark:text-gray-400">
        {details && <p>{details}</p>}
    </div>
</a>
