---
import { Icon } from "astro-icon/components";
import ThemeToggle from "../common/ThemeToggle.astro";
import { basic, menuItems } from "../../config/cv.json";
---

<header class="bg-background py-4">
  <div class="container max-w-6xl mx-auto flex justify-between items-center px-4 md:px-8">
    <!-- Logo -->
    <div class="text-2xl font-bold">
      <a href="/" class="hover:text-offset">{basic?.name}</a>
    </div>

    <div class="flex gap-5">
      <!-- PC Menu -->
      <nav class="hidden sm:flex space-x-6 items-center">
        {menuItems.map((item) => (
          <a href={item.link} class="hover:text-offset">{item.name}</a>
        ))}
      </nav>

      <!-- Mobile Menu Button -->
      <div class="sm:hidden flex">
        <button id="menu-btn" class="focus:outline-none" aria-label="Mobile open menu">
          <Icon name="Menu" class="size-6"/>
        </button>
      </div>

      <ThemeToggle />
    </div>
  </div>

  <!-- Mobile Menu -->
  <div id="mobile-menu" class="hidden sm:hidden">
    {menuItems.map((item) => (
      <a href={item.link} class="block px-4 py-2 hover:bg-background-offset">
        {item.name}
      </a>
    ))}
  </div>
</header>

<script>
  const menuBtn = document.getElementById('menu-btn');
  const mobileMenu = document.getElementById('mobile-menu');

  menuBtn?.addEventListener('click', () => {
    mobileMenu?.classList.toggle('hidden');
  });
</script>
